article{
    display: grid;
    justify-items: center;
}
.CardsHeading{
    padding-bottom: 2rem;
}
.Card1, .Card3{
    margin-bottom: 4rem;
}
.Card2Body{
    width: 100%;
    display: grid;
    margin-bottom: 4rem;
    background: #e3e3e3;
    justify-content: center;
}
.Card2{
    padding: 2rem 0rem;
}
.CardsHolder{
    gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.CoursesCard, .Blogs{
    width: 300px;
    height: 360px;
    display: grid;
    overflow: hidden;
    border-radius: 1rem;
    background: #e3e3;
    grid-template-rows: 1fr .3fr;
}
.UpperDiv{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
}
.UpperDiv button{
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    padding: .5rem .8rem;
    background: #003262;
}
.modules, .profileDetails{
    gap: .5rem;
    display: flex;
    align-items: center;
    padding: .5rem 0rem;
}
.rate{
    gap: .5rem;
    display: flex;
    color: #bba212e5;
}

.StuComments{
    width: 300px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.LowerDiv{
    padding: .5rem 1rem;
}
.LowerDiv section{
    display: flex;
    padding-bottom: .5rem;
    justify-content: space-between;
}
.LowerDiv .readMore{
    color: #003262;
    padding: .5rem 0rem;
}
@media (width <= 700px) {
    .CardsHolder{
        /* justify-content: flex-start; */
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .CardsHolder::-webkit-scrollbar{
        display: none;
    }
}